p::first-letter {
    color: red;
    font-size: 20px;
    }

h2 {
    color: blue;
    }
p[name="paragraf1"] {
    font-size: 40px;
    }

a [id="1"] {
    text-decoration: none;
    color: red;
    }